<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0 Copyright © 2018-2020 Headsoft. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.Headsoft.USBPorts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBPorts</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>MacBookPro15,4-XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>XHC</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9d2f8086</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCISPTLP</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>
				DwAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>H1AR</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>H1AR</string>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>H2CS</key>
					<dict>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>name</key>
						<string>H2CS</string>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
					<key>H3AL</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>H3AL</string>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>H4AL</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>H4AL</string>
						<key>port</key>
						<data>
						BAAAAA==
						</data>
					</dict>
					<key>H6WC</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>H6WC</string>
						<key>port</key>
						<data>
						BgAAAA==
						</data>
					</dict>
					<key>H7SD</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>H7SD</string>
						<key>port</key>
						<data>
						BwAAAA==
						</data>
					</dict>
					<key>H8BT</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>H8BT</string>
						<key>port</key>
						<data>
						CAAAAA==
						</data>
					</dict>
					<key>S1AR</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>S1AR</string>
						<key>port</key>
						<data>
						DQAAAA==
						</data>
					</dict>
					<key>S2CD</key>
					<dict>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>name</key>
						<string>S2CD</string>
						<key>port</key>
						<data>
						DgAAAA==
						</data>
					</dict>
					<key>S3CU</key>
					<dict>
						<key>UsbConnector</key>
						<integer>10</integer>
						<key>name</key>
						<string>S3CU</string>
						<key>port</key>
						<data>
						DwAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacBookPro15,4</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
