<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>v1.1</string>
	<key>CFBundleIdentifier</key>
	<string>com.dhinakg.USBToolBox.map</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>UTBMap</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>EHC1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.dhinakg.USBToolBox.kext</string>
			<key>IOClass</key>
			<string>USBToolBox</string>
			<key>IOMatchCategory</key>
			<string>USBToolBox</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:29:0</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBHostController</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>AQAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>EHC2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.dhinakg.USBToolBox.kext</string>
			<key>IOClass</key>
			<string>USBToolBox</string>
			<key>IOMatchCategory</key>
			<string>USBToolBox</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:26:0</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBHostController</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>AQAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.dhinakg.USBToolBox.kext</string>
			<key>IOClass</key>
			<string>USBToolbox</string>
			<key>IOMatchCategory</key>
			<string>USBToolBox</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:20:0</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBHostController</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>CAAAAA==</data>
				<key>ports</key>
				<dict>
					<key>HS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>HS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
					<key>SS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>BwAAAA==</data>
					</dict>
					<key>SS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>CAAAAA==</data>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.dhinakg.USBToolBox.kext</key>
		<string>1.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
