<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,0,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Xeon E3-1200 v3/4th Gen Core Processor DRAM Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Xeon E3-1200 v3/4th Gen Core Processor PCI Express x16 Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>8 Series/C220 Series Chipset Family USB xHCI</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,22,0</string>
				<key>device_type</key>
				<string>Communication controller</string>
				<key>model</key>
				<string>8 Series/C220 Series Chipset Family MEI Controller #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,0</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>hda-gfx</key>
				<string>onboard-2</string>
				<key>layout-id</key>
				<data>
				GwAAAA==
				</data>
				<key>model</key>
				<string>8 Series/C220 Series Chipset High Definition Audio Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>8 Series/C220 Series Chipset Family PCI Express Root Port #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,2</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>8 Series/C220 Series Chipset Family PCI Express Root Port #3</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x2)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,2/0,0</string>
				<key>device_type</key>
				<string>Network controller</string>
				<key>model</key>
				<string>Wireless 7260</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,3</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>8 Series/C220 Series Chipset Family PCI Express Root Port #4</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x3)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,3/0,0</string>
				<key>device_type</key>
				<string>Unassigned class</string>
				<key>model</key>
				<string>RTS5249 PCI Express Card Reader</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,0</string>
				<key>device_type</key>
				<string>ISA bridge</string>
				<key>model</key>
				<string>HM87 Express LPC Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,2</string>
				<key>device_type</key>
				<string>SATA controller</string>
				<key>model</key>
				<string>8 Series/C220 Series Chipset Family 6-port SATA Controller 1 [AHCI mode]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>SMBus</string>
				<key>model</key>
				<string>8 Series/C220 Series Chipset Family SMBus Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x6)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,6</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>8 Series Chipset Family Thermal Management Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				CQClPg==
				</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>model</key>
				<string>Intel Xeon E3-1200 v3/4th Gen Core Processor Integrated Graphics Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x3,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,3,0</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>model</key>
				<string>Xeon E3-1200 v3/4th Gen Core Processor HD Audio Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x4,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,4,0</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>???</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
