<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
			<key>NoDynamicExtract</key>
			<true/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>CpuPm</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Ist</string>
				<key>#Length</key>
				<integer>720</integer>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<true/>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddMCHC</key>
				<true/>
				<key>FixHPET</key>
				<true/>
				<key>FixSBUS</key>
				<true/>
				<key>DeleteUnused</key>
				<true/>
				<key>FixRegions</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
			</dict>
		</dict>
		<key>HaltEnabler</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>-v dart=0</string>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>HackintoshLife</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Language</key>
		<string>it:4</string>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
			<key>Inject</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xE00DE137</string>
		<key>Board-ID</key>
		<string>Mac-F2268DAE</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>PVT</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0xD</string>
		<key>BiosVersion</key>
		<string>IM111.88Z.F000.B00.1906132358</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Asset Tag#</string>
		<key>Family</key>
		<string>iMac</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>G893302YY000D</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>iMac11,1</string>
		<key>SmUUID</key>
		<string>8A4FB7DB-E88C-41C2-868D-6E84582F649D</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>63.0.0.0.0</string>
		<key>SerialNumber</key>
		<string>G89340TK5PJ</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>06/13/2019</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>