<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,0,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Xeon E3-1200 v6/7th Gen Core Processor Host Bridge/DRAM Registers</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x13,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,19,0</string>
				<key>device_type</key>
				<string>Non-VGA unclassified device</string>
				<key>model</key>
				<string>Sunrise Point-LP Integrated Sensor Hub</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>Sunrise Point-LP USB 3.0 xHCI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,2</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Thermal subsystem</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,21,0</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Serial IO I2C Controller #0</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,21,1</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Sunrise Point-LP Serial IO I2C Controller #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,22,0</string>
				<key>device_type</key>
				<string>Communication controller</string>
				<key>model</key>
				<string>Sunrise Point-LP CSME HECI #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Sunrise Point-LP PCI Express Root Port #5</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,0/0,0</string>
				<key>device_type</key>
				<string>Network controller</string>
				<key>model</key>
				<string>Dual Band Wireless-AC 3165 Plus Bluetooth</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1D,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,29,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Sunrise Point-LP PCI Express Root Port #9</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1D,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,29,0/0,0</string>
				<key>device_type</key>
				<string>Non-Volatile memory controller</string>
				<key>model</key>
				<string>P2 NVMe PCIe SSD</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,0</string>
				<key>device_type</key>
				<string>ISA bridge</string>
				<key>model</key>
				<string>Sunrise Point LPC Controller/eSPI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,2</string>
				<key>device_type</key>
				<string>Memory controller</string>
				<key>model</key>
				<string>Sunrise Point-LP PMC</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>layout-id</key>
				<data>
				AwAAAA==
				</data>
				<key>model</key>
				<string>Sunrise Point-LP HD Audio</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,4</string>
				<key>device_type</key>
				<string>SMBus</string>
				<key>model</key>
				<string>Sunrise Point-LP SMBus</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				CQClPg==
				</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>model</key>
				<string>Intel HD Graphics 620</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x4,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,4,0</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Xeon E3-1200 v5/E3-1500 v5/6th Gen Core Processor Thermal Subsystem</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
