<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12C60</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleACPIPS2Nub</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AppleACPIPS2Nub</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleACPIPS2Nub</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvmgcc42</string>
	<key>DTPlatformBuild</key>
	<string>4G182</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0450</string>
	<key>DTXcodeBuild</key>
	<string>4G182</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPI PS/2 Nub</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.AppleACPIPS2Nub</string>
			<key>IOClass</key>
			<string>AppleACPIPS2Nub</string>
			<key>IONameMatch</key>
			<array>
				<string>PNP0303</string>
				<string>PNP030B</string>
			</array>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>MouseNameMatch</key>
			<array>
				<string>PNP0F03</string>
				<string>PNP0F0B</string>
				<string>PNP0F13</string>
				<string>PNP0F0E</string>
			</array>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Apple. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0d1</string>
		<key>com.apple.kpi.iokit</key>
		<string>7.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0d0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0b1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
