<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>carlo_67-fabiosun</string>
	<key>Description</key>
	<string>Macos86</string>
	<key>Theme</key>
	<dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>30</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>10</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>65</integer>
				<key>ID</key>
				<integer>1</integer>
				<key>NudgeX</key>
				<integer>-3</integer>
				<key>NudgeY</key>
				<integer>0</integer>
				<key>Once</key>
				<true/>
				<key>Path</key>
				<string>Anim_1_Logo</string>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
		</array>
		<key>Background</key>
		<dict>
			<key>Dark</key>
			<true/>
			<key>Path</key>
			<string>background.png</string>
			<key>Sharp</key>
			<string>0x00</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Scale</key>
			<integer>4</integer>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
		</dict>
		<key>Banner</key>
		<string>logo_trans.png</string>
		<key>BootCampStyle</key>
		<false/>
		<key>Components</key>
		<dict>
			<key>Banner</key>
			<true/>
			<key>Functions</key>
			<true/>
			<key>Help</key>
			<true/>
			<key>Label</key>
			<true/>
			<key>MenuTitle</key>
			<false/>
			<key>MenuTitleImage</key>
			<false/>
			<key>Revision</key>
			<false/>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>PTMono_10W.png</string>
			<key>Proportional</key>
			<false/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>BannerOffset</key>
			<integer>10</integer>
			<key>ButtonOffset</key>
			<integer>50</integer>
			<key>Vertical</key>
			<false/>
		</dict>
		<key>Origination</key>
		<dict>
			<key>DesignHeight</key>
			<integer>1080</integer>
			<key>DesignWidth</key>
			<integer>1920</integer>
		</dict>
		<key>Scroll</key>
		<dict>
			<key>BarHeight</key>
			<integer>4</integer>
			<key>Height</key>
			<integer>16</integer>
			<key>ScrollHeight</key>
			<integer>8</integer>
			<key>Width</key>
			<integer>16</integer>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>ChangeNonSelectedGrey</key>
			<false/>
			<key>Color</key>
			<string>0x00252eFF</string>
			<key>Indicator</key>
			<string>selection_indicator.png</string>
			<key>OnTop</key>
			<false/>
			<key>Small</key>
			<string>Selection_small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2018</string>
</dict>
</plist>
